.UseEngraftEditor {
  font-family: sans-serif;

  /* margin: 16px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: #F0F2F5; */
}

.UseEngraftEditor .card {
  margin-bottom: 16px;
  background: white;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 1px 4px rgba(20,20,20,0.2);
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.UseEngraftEditor pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

.UseEngraftEditor > .heading > h1 {
  all: unset;
  font-size: 2em;
  font-family: monospace;
  font-style: italic;
}

.UseEngraftEditor > .heading > button {
  background-color: rgb(239, 239, 239);
}

.UseEngraftEditor > .content > .card > h2 {
  margin: 0;
  margin-bottom: 10px;
  /* text-align: right; */
  /* font-weight: normal;
  font-style: italic; */
}

.UseEngraftEditor > .heading {
  padding: 16px;
}

.UseEngraftEditor > .content {
  padding: 16px;
  overflow: auto;
  padding-top: 0;
}
