.live-compose-root {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin-top: 0px;
  margin-bottom: 3px;
}

#overlay {
  width: 1px;
  height: 1px;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

li[role=treeitem] {
  background-color: inherit !important;
}

pre {
  margin: 0;
  max-width: 100%;
}

/* TODO: This is a hack to deal with strange visible-widgetBuffer issues in pop-up windows */
/* I'm not sure what awful consequences it is going to have */
.cm-widgetBuffer {
  display: none;
}

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */

.Value {
  max-width: 100%;
}




.xRow {
  display: flex;
  flex-direction: row;
  max-height: 100%;  /* TODO: is this a good general rule? */
}
.xRow.xAlignTop {
  align-items: flex-start;
}
.xRow.xAlignBottom {
  align-items: flex-start;
}
.xRow.xAlignVCenter {
  align-items: center;
}

.xCol {
  display: flex;
  flex-direction: column;
  max-width: 100%;  /* TODO: is this a good general rule? */
}
.xCol.xAlignLeft {
  align-items: flex-start;
}
.xCol.xAlignRight {
  align-items: flex-end;
}
.xCol.xAlignHCenter {
  align-items: center;
}
.xCol.xAlignVCenter {
  justify-content: center;
}

.xCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.xCenterCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.xGap10 {
  gap: 10px;
}

.xExpand {
  flex-grow: 1;
}

.xInlineBlock {
  display: inline-block;
}

.xUnclickable {
  pointer-events: none;
}

.xClickable {
  pointer-events: auto;
  user-select: none;
  cursor: pointer;
}

.xEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xPad10 {
  padding: 10px;
}

.xStickyTop10 {
  position: sticky;
  top: 10px;
}

.xLineHeight1 {
  line-height: 1;
}

.xShrinkable {
  min-width: 0;
}

.xChildrenMinWidth0 > * {
  min-width: 0;
}

.xWidthFitContent {
  width: fit-content;
}
