.live-compose-root {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin-top: 0px;
  margin-bottom: 3px;
}

.row-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row-top {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#overlay {
  width: 1px;
  height: 1px;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

li[role=treeitem] {
  background-color: inherit !important;
}

pre {
  margin: 0;
  max-width: 100%;
}

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */

.Value {
  max-width: 100%;
}